.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.loading-spinner {
    padding: 40px;
    margin-top: 100px;
    width: 60px !important;
    height: 60px !important;
}

.loading-message {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    padding: 40px;
    text-align: center;
    color: #1BA39C;
}