.pair-info-card {
    display: grid;
    grid-template-columns: repeat(8, auto);
    align-items: center;
    justify-items: center;
    height: 100px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 24px;
}


.card-last {
    font-weight: bold;
    font-size: 36px;
    color: #7A7A7A
}

.column-name {
    color: #7A7A7A;
    font-size: 12px;
    padding-bottom: 12px;
}

.column-value {
    font-weight: bold;
    font-size: 20px;
    color: #7A7A7A;
}

.rank-value {
    background-color: #1BA39C;
    border-radius: 25px;
    color: white;
    text-align: center;
  }